* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  padding: 40px;
  background-color: #151515;
}

h2 {
  color: #f3f3f3;
  margin-bottom: 30px;
  font-size: 48px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1024px;
  margin: 0 auto;
}

.card {
  border: 2px solid orange;
  padding: 10px;
  margin: 10px;
  background-color: #555;
  border-radius: 10px;
}

button {
  background-color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
